.dashboard-card {
  flex: 2;
  border: 1px solid #CAC4D0;
  position: relative;
  border-radius: 16px;
  background-color: #FEF7FF;

  &.small {
    flex: 1;
    min-width: 200px;

    .card-content > :nth-child(2) {
      margin-top: 8px;
    }
  }

  .card-content {
    position: absolute;
    inset: 0 0 0 0;
    padding: 16px;

    > :nth-child(2) {
      margin-top: 12px;
    }
  }
}

.dashboard-card:after {
  content: "";
  display: block;
  padding-bottom: 40%;
}