.barber-card {
  border: 1px solid #CAC4D0;
  position: relative;
  border-radius: 16px;
  background-color: #FEF7FF;
  padding: 16px;
}

.service-card {
  border: 1px solid #CAC4D0;
  position: relative;
  border-radius: 16px;
  background-color: #FEF7FF;
  margin-bottom: 24px;
  padding: 18px 24px;
}